// @font-face {
//   font-family: "TT Norms Pro";
//   src: url(../fonts/TT\ Norms\ Pro\ Bold.otf) font-weight-bold,
//     url(../fonts/TT\ Norms\ Pro\ Medium.otf) font-weight-medium,
//     url(../fonts/TT\ Norms\ Pro\ Regular.otf) font-weight-regular;
// }

// COLORS
$color-primary: #202124;
$color-primary-light: #63656f;
$color-secondary: #a14eea;
$color-secondary-light: #a859eb;
$color-terciary: #ababab;
$color-terciary-light: #f3f3f3;
$color-white: #fff;

// // FONTS
// $font-primary: "TT Norms Pro", sans-serif;

// BREAKPOINTS
$bp-largest-2: 106.25em; //1700px
$bp-largest-1: 100em; // 1600px
$bp-large: 93.75em; //1500px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest-1) {
    font-size: 50%;
  }
}

body {
  font-family: "TT Norms", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
