.header {
  width: 150rem;

  padding: 3rem 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__secondary {
    padding: 1rem;
    text-transform: uppercase;
  }

  &__primary {
    padding: 1rem;
  }

  &__links {
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 3.5rem;

    &--link {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      align-items: center;
      column-gap: 1.5rem;

      img {
        height: 4rem;
        width: 4rem;
      }

      a {
        text-decoration: none;
        position: relative;
        z-index: 10;
        padding: 1rem 0;
        color: $color-secondary-light;
        font-size: 2rem;
        font-weight: 400;

        &::after {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 20;
          padding: 1rem 0;
          content: "";
          display: block;
          border-bottom: 1px solid $color-secondary-light;

          transform: translateY(-3rem);
          transition: all 0.5s;
          overflow: hidden;
        }

        &:hover::after {
          animation: borderTranslateOut both 0.5s;
        }
      }
    }
  }

  &__intro {
    width: 140rem;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &__clients {
  }
}

.btn-links {
  width: 8rem;
  height: 8rem;
}

@keyframes borderTranslateOut {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
