.container-team {
  width: 150rem;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-largest-2) {
    width: 90%;
  }
}

.team {
  grid-column: 2/3;
  grid-row: 6/7;

  width: 100%;
  height: 80vh;

  display: grid;
  grid-template-columns: 40% 50%;
  column-gap: 10rem;

  margin-bottom: 20rem;

  @media only screen and (max-width: $bp-largest-1) {
    grid-template-columns: 40% 30%;
    justify-content: space-between;
    column-gap: 15rem;
  }

  @media only screen and (max-width: $bp-large) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    width: 100%;

    @media only screen and (max-width: $bp-large) {
      width: 90%;
      margin-bottom: 10rem;
    }
    &--icon {
      width: 5rem;
      height: 5rem;
      margin-bottom: 4rem;
    }

    &--header {
      margin-bottom: 4rem;
    }

    &--paragraph {
      margin-bottom: 4rem;
    }

    &--link-container {
      display: flex;
      justify-content: space-between;
      font-size: 1.7rem;

      &--link-1,
      &--link-2 {
        text-align: center;
        padding: 2rem 1rem;
        width: 45%;
        background-color: transparent;

        a {
          text-decoration: none;
          color: $color-secondary-light;
        }
      }

      &--link-1 {
        border: 2px solid $color-terciary-light;
        border-radius: 50px;
        box-shadow: 0px 2px 4px 0px $color-terciary-light;
        transition: all 0.3s;

        &:hover {
          color: #fff;
          background-color: $color-secondary-light;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  &__pictures {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-largest-1) {
      width: 30vw;
    }

    @media only screen and (max-width: $bp-large) {
      width: 60%;
      margin-bottom: 10rem;
    }

    &--grid {
      display: flex;
      justify-content: flex-end;
      @media only screen and (max-width: $bp-large) {
        justify-content: center;
      }
    }

    &--1 {
      height: 70%;
      align-self: flex-end;
    }

    &--instagram {
      height: 70%;
      width: 60rem;

      color: #fff;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
      text-align: center;
      background-image: linear-gradient(
        -130deg,
        #24d2ee 0,
        #6991f0 30%,
        #c52fef 100%
      );

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $bp-largest-1) {
        width: 60rem;
      }

      &--icon {
        display: block;
        height: 4rem;
        width: 4rem;
        margin-bottom: 2rem;
      }
    }

    &--instagram,
    &--1,
    &--2,
    &--3,
    &--4 {
      margin: 1rem;
      border-radius: 15px;
    }
  }
}
