*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: "TT Norms Pro", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  width: 100%;
  padding: 3.5rem;
  grid-row: 1/2;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}
.navigation__logo {
  width: 17rem;
  height: auto;
}
.navigation__menu {
  font-size: 1.5rem;
  color: #a14eea;
  display: grid;
  grid-template-columns: min-content repeat(2, 1fr);
  column-gap: 1rem;
  align-items: center;
}
.navigation__menu__open {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  align-items: center;
}
.navigation__menu__open--hamburger {
  border: none;
  border-radius: none;
  width: 2rem;
  height: 0.2rem;
  background-color: #a14eea;
}
.navigation__menu__open--hamburger::before, .navigation__menu__open--hamburger::after {
  display: block;
  content: "";
  border: none;
  border-radius: none;
  width: 2rem;
  height: 0.2rem;
  background-color: #a14eea;
}
.navigation__menu__open--hamburger::before {
  transform: translateY(-0.7rem);
}
.navigation__menu__open--hamburger::after {
  transform: translateY(0.5rem);
}
.navigation__menu__lang:active, .navigation__menu__lang:visited {
  text-decoration: none;
}
.navigation__menu__messenger {
  width: 5rem;
  height: 5rem;
}

.btn-white {
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.header {
  width: 150rem;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__secondary {
  padding: 1rem;
  text-transform: uppercase;
}
.header__primary {
  padding: 1rem;
}
.header__links {
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 3.5rem;
}
.header__links--link {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 1.5rem;
}
.header__links--link img {
  height: 4rem;
  width: 4rem;
}
.header__links--link a {
  text-decoration: none;
  position: relative;
  z-index: 10;
  padding: 1rem 0;
  color: #a859eb;
  font-size: 2rem;
  font-weight: 400;
}
.header__links--link a::after {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  padding: 1rem 0;
  content: "";
  display: block;
  border-bottom: 1px solid #a859eb;
  transform: translateY(-3rem);
  transition: all 0.5s;
  overflow: hidden;
}
.header__links--link a:hover::after {
  animation: borderTranslateOut both 0.5s;
}
.header__intro {
  width: 140rem;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
}
.header__intro img {
  width: 100%;
}
.btn-links {
  width: 8rem;
  height: 8rem;
}

@keyframes borderTranslateOut {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.portfolio {
  width: 160rem;
  height: 125rem;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 53.3333333333rem);
  grid-template-rows: repeat(5, 20%);
  justify-content: center;
  column-gap: 3rem;
  row-gap: 5rem;
  margin-bottom: -18rem;
}
.portfolio__heading {
  font-size: 5rem;
  color: #202124;
  grid-row: 1/2;
  grid-column: 1/3;
}
.portfolio__container {
  border-radius: 20px;
  background-color: #f3f3f3;
  display: grid;
  grid-template-rows: 70% 30%;
  justify-content: center;
}
.portfolio__reference--1 {
  grid-row: 2/4;
  grid-column: 1/2;
}
.portfolio__reference--2 {
  grid-row: 2/4;
  grid-column: 2/3;
}
.portfolio__reference--3 {
  grid-row: 1/3;
  grid-column: 3/4;
}
.portfolio__reference--img {
  width: 40rem;
}
.portfolio__reference--text {
  grid-row: 3/5;
  grid-column: 3/4;
}
.portfolio__reference--heading {
  margin-top: 3.5rem;
  background-color: #fff;
  border-radius: 15px;
  padding: 3rem;
  box-shadow: 0px 2px 4px 0px #f3f3f3;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.portfolio__text {
  padding: 6rem 3rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.portfolio__text img {
  margin-bottom: 2rem;
}
.portfolio__text p {
  width: 90%;
}
.portfolio__text a {
  width: 60%;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: #a859eb;
  margin-top: 3rem;
  background-color: transparent;
  padding: 2.5rem 4rem;
  border: 2px solid #f3f3f3;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 0px #f3f3f3;
  cursor: pointer;
  transition: all 0.3s;
}
.portfolio__text a:hover {
  background-color: #a859eb;
  color: #fff;
}

.colaboration {
  width: 160rem;
  height: 85rem;
  display: grid;
  grid-template-columns: 85rem 55rem;
  column-gap: 20rem;
  justify-content: center;
  margin-bottom: 20rem;
}
.colaboration__list {
  display: grid;
  grid-template-columns: repeat(6, 14rem);
  grid-template-rows: repeat(6, 14rem);
  row-gap: 2rem;
  column-gap: 2rem;
}
.colaboration__list--1 {
  grid-column: 1/3;
  grid-row: 2/4;
}
.colaboration__list--2 {
  grid-column: 3/5;
  grid-row: 1/3;
}
.colaboration__list--3 {
  grid-column: 5/7;
  grid-row: 2/4;
}
.colaboration__list--4 {
  grid-column: 1/3;
  grid-row: 4/6;
}
.colaboration__list--5 {
  grid-column: 3/5;
  grid-row: 5/7;
}
.colaboration__list--6 {
  grid-column: 5/7;
  grid-row: 4/6;
}
.colaboration__list--logo {
  grid-column: 3/5;
  grid-row: 3/5;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(to left, #24d2ee 0, #6991f0 30%, #c52fef 100%);
}
.colaboration__list--logo img {
  width: 50%;
  height: 50%;
}
.colaboration__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.colaboration__text h2 {
  padding: 2.5rem;
  color: #202124;
  font-size: 5rem;
}
.colaboration__text p {
  padding: 2.5rem;
  line-height: 3.3rem;
  color: #63656f;
  font-size: 2rem;
}
.colaboration__text--link {
  text-decoration: none;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  padding: 2.5rem 4rem;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 50px;
  background-image: linear-gradient(to left, #24d2ee 0, #6991f0 30%, #c52fef 100%);
  transition: all 0.3s;
}
.colaboration__text--link:hover {
  background-image: linear-gradient(to left, #c52fef 0, #c52fef 100%);
}

.card {
  width: 100%;
  height: 100%;
  border: 2px solid #f3f3f3;
  box-shadow: 0px 2px 4px 0px #f3f3f3;
  border-radius: 15px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 30%;
  height: 30%;
  padding-bottom: 2em;
}
.card p {
  padding-top: 2rem;
}

.about {
  width: 160rem;
  display: grid;
  grid-template-rows: repeat(7, 14.2857142857%);
  grid-template-columns: repeat(6, 16.6666666667%);
  align-items: center;
  align-content: center;
  margin-bottom: 10rem;
}
.about__picture {
  grid-column: 1/7;
  grid-row: 1/5;
}
.about__picture--pic {
  width: 100%;
  border-radius: 15px;
}
.about__certification {
  grid-column: 2/6;
  grid-row: 4/8;
  background-color: #fff;
  padding: 5rem;
  border: 2px solid #f3f3f3;
  border-radius: 15px;
  border-bottom-left-radius: 10%;
  box-shadow: 0px 2px 4px 0px #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__certification--certificates {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about__certification--certificates--img {
  padding: 0.5rem 2rem;
  height: 100%;
  width: auto;
}
.about__certification--text {
  text-align: center;
}
.about__certification--text * {
  padding: 4rem 0;
}
.about__certification--nav--heading {
  color: #63656f;
  text-align: center;
  padding: 4rem 0;
}
.about__certification--nav--links {
  display: flex;
  justify-content: center;
}

.link-container {
  display: flex;
  align-items: center;
  padding: 4rem;
}
.link-container img {
  height: 4rem;
  width: 4rem;
}
.link-container a {
  padding: 1rem;
  color: #a859eb;
  font-size: 2rem;
  font-weight: 400;
}

.team {
  width: 140rem;
  height: 50rem;
  display: grid;
  grid-template-columns: 55rem 85rem;
  margin-bottom: 40rem;
}
.team__text--icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 4rem;
}
.team__text--header {
  margin-bottom: 4rem;
}
.team__text--paragraph {
  margin-bottom: 4rem;
}
.team__text--link-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
}
.team__text--link-container--link-1, .team__text--link-container--link-2 {
  text-align: center;
  padding: 2rem 1rem;
  width: 45%;
  background-color: transparent;
}
.team__text--link-container--link-1 a, .team__text--link-container--link-2 a {
  text-decoration: none;
  color: #a859eb;
}
.team__text--link-container--link-1 {
  border: 2px solid #f3f3f3;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 0px #f3f3f3;
  transition: all 0.3s;
}
.team__text--link-container--link-1:hover {
  color: #fff;
  background-color: #a859eb;
}
.team__text--link-container--link-1:hover a {
  color: #fff;
}
.team__pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team__pictures--grid {
  display: flex;
  justify-content: flex-end;
}
.team__pictures--1 {
  height: 70%;
  align-self: flex-end;
}
.team__pictures--instagram {
  height: 70%;
  width: 30%;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(-130deg, #24d2ee 0, #6991f0 30%, #c52fef 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__pictures--instagram--icon {
  display: block;
  height: 4rem;
  width: 4rem;
  margin-bottom: 2rem;
}
.team__pictures--instagram, .team__pictures--1, .team__pictures--2, .team__pictures--3, .team__pictures--4 {
  margin: 1rem;
  border-radius: 15px;
}

.footer-intro {
  margin-bottom: 10rem;
  font-size: 2rem;
  color: #202124;
}

.footer {
  width: 160rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #202124;
}
.footer__branches {
  margin-left: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__branches--branch {
  padding: 10rem;
  text-align: center;
}
.footer__branches--branch--title {
  color: #fff;
  font-size: 4rem;
  padding: 2rem 0;
}
.footer__branches--branch--adress {
  color: #ababab;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.footer__branches--branch--email {
  text-decoration: underline;
  color: #a859eb;
}
.footer__message-link {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  padding: 2rem 5rem;
  background-image: linear-gradient(to left, #24d2ee 0, #6991f0 30%, #c52fef 100%);
  margin-bottom: 10rem;
}
.footer__bottom {
  width: 160rem;
  border-top: 1px solid #63656f;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom--copyright {
  color: #ababab;
  font-size: 1.3rem;
  padding: 0 3rem;
}
.footer__bottom--links {
  text-align: center;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}
.footer__bottom--links--link {
  color: #fff;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__bottom--social--link {
  color: #ababab;
  font-size: 1.3rem;
  padding: 0 1.5rem;
  text-decoration: none;
}

.header-1 {
  text-align: center;
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  line-height: 8.2rem;
}

.header-2 {
  font-size: 5rem;
  color: #202124;
}

.header-3 {
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

.header-4 {
  color: #a859eb;
  font-size: 2rem;
}

.paragraph-text {
  font-weight: 400;
  line-height: 3rem;
  color: #63656f;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
}

.paragraph-tag {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: #63656f;
}/*# sourceMappingURL=main.css.map */